  <div class="span4">
    <%= render 'layouts/navbar4' %>
  </div>
  <div class="span8">
  	<h1 id="WEB制作の金額"><a name="WEB制作の金額" href="#WEB制作の金額"></a>WEB制作の金額</h1>

  	<hr class="page">

  	<h4>WEB制作の単価</h4>

  	<p>WEB制作にかかる料金は、内容やボリュームによって変わります。<br><br>

	ある見積もり例を参考に、どのような費用がかかるのか確認してみましょう。<br><br>

	<%= image_tag"4_2_01.jpg", :alt => "WEB制作見積もり例", :width => "620px" %>

	・デザイン費<br>
	・コーディング費<br>
	・企画・構成費<br>
	・機能実装費<br>
	・wordpress導入費<br>
	・レスポンシブ対応費<br>
	などなど・・・1つ1つに単価が決められています。<br><br>

	また、TOPページのデザインと<br>
	下層ページ（TOP以外のページ）のデザインで、金額を分けていたり、<br>
	コーディングも1ページボリュームによって松竹梅がつけられたりもします。
	さらに、写真素材や動画などが必要な場合は、更に金額が上がります。<br><br>

	ですので、WEB制作の費用は分かりづらいのです。<br>

	今回は、いくつかのパターンを紹介しながら、<br>
	WEB制作の料金相場について学んで頂きたいと思います。<br></p>

	<hr>

	<h4>WEB制作の委託先</h4>

	<p>また、WEB制作を委託できる先は、「WEB制作会社」「フリーランサー」<br>
	の2パターンあり、さらにフリーランサー始めたてであったり、<br>
	安くても案件が欲しい制作会社などが「クラウドソーシング」を利用しています。<br><br>

	これらの単価としては、<br>
	『WEB制作会社＞フリーランス＞クラウドソーシング』<br>
	このようになっており、今回は各相場感を説明したいと思います。<br><br>

	なお、相場以下の金額で請負っている場合、<br>
	何らかの理由があることが多いので、必ず確認をとりましょう。</p>

	<hr>

	<h4>相場について</h4>

	<h5>WEBサイト（TOPページ・下層ページ5〜10P）</h5>
	<p>一般的なWEBサイトはこれくらいの金額に収まります。<br>
	企画打ち合わせ⇒デザイン作成⇒コーディング一括の費用です。<br><br>

	《WEB制作会社》<br>
	相場：15万円〜80万円<br>
	期間：1ヶ月〜1ヶ月半<br>
	《フリーランス》<br>
	相場：10万円〜30万円<br>
	期間：3週間〜1ヶ月半<br>
	《クラウドソーシング》<br>
	相場：5万円〜20万円<br>
	期間：2週間〜1ヶ月半<br>
	</p>

	<hr class="underscore">

	<h5>コーポレートサイト（20P〜）</h5>
	<p>大企業のWEBサイト制作になります。<br>
	この場合、企業のブランディングもかねているため、<br>
	作業のボリュームだけでなく、企画やディレクション能力も重要になります。<br><br>

	《WEB制作会社》<br>
	相場：15万円〜80万円<br>
	期間：1ヶ月半〜<br>
	《フリーランス》<br>
	相場：10万円〜30万円<br>
	期間：1ヶ月半〜<br>
	《クラウドソーシング》<br>
	相場：5万円〜20万円<br>
	期間：1ヶ月〜</p>

	<hr class="underscore">

	<h5>CMS導入</h5>
	<p>世界中で使用されているブログシステム<br>
	『WordPress』や『MovableType』の導入費用です。<br>
	導入自体はテンプレートやテーマ作成のみの作業なため、工数はかかりませんが、<br>
	独自のカスタマイズを行う際はPHPなどのスキルが必要になるため、<br>
	追加で料金が発生します。<br><br>

	《WEB制作会社》<br>
	相場：5万円〜15万円<br>
	期間：追加1週間<br>
	《フリーランス》<br>
	相場：5万円〜10万円<br>
	期間：追加1週間<br>
	《クラウドソーシング》<br>
	相場；無料〜10万円<br>
	期間：即日〜1週間</p>

	<hr class="underscore">

	<h5>LP</h5>
	<p>ランディングページ制作になります。<br>
	LP制作ではWEBマーケティングの知識や、デザインセンスが問われるため、<br>
	1ページですが金額は高額に設定されます。<br><br>

	《WEB制作会社》<br>
	相場：15万円〜50万円<br>
	期間：1ヶ月〜3ヶ月<br>
	《フリーランス》<br>
	相場：10万円〜20万円<br>
	期間：1ヶ月〜2ヶ月<br>
	《クラウドソーシング》<br>
	相場：5万円〜15万円<br>
	期間：2週間〜1ヶ月</p>

	<hr class="underscore">

	<h5>各メリット・デメリット・総評</h5>
	<p>《WEB制作会社》<br>
	【メリット】<br>
	企業なのでクオリティや納期の信頼が高い。<br>
	ある程度の要望を具現化してくれる。<br>
	【デメリット】<br>
	相場以下の企業はテンプレートであったり、結局はフリーランスに<br>
	委託している場合も多いので、コスパはあまり良いとはいえない。<br>
	【総評】<br>
	とにかく、納期やクオリティにおける信頼を選ぶ場合は、<br>
	しっかりとしたWEB制作会社に委託することが無難です。<br>
	しかし、金額が安い場合はあまり期待できませんので、見極めが大切です。<br><br>

	《フリーランス》<br>
	【メリット】<br>
	制作会社を経てフリーになった方が多いので、技術力が高い。クオリティも高い。<br>
	【デメリット】<br>
	質の高いフリーランスは多忙なため、なかなか出会うことがない。<br>
	【総評】<br>
	一番良いのは質の高いフリーランサーの方と仲良くなり、<br>
	継続的な関係を作れること。<br>
	デザインクオリティが高く、制作をしながらもWEBマーケティングの知識を<br>
	持つ人もおり、良いパートナーシップを気づけるでしょう。<br><br>

	《クラウドソーシング》<br>
	【メリット】<br>
	とにかく単価が安い、デザインにこだわらない限りはある程度クオリティ高い。<br>
	【デメリット】<br>
	人によって当たり外れが多く、テンプレートと使う人も多々いる。<br>
	技術的に実装が難しい人も。<br>
	【総評】<br>
	自分で管理が出来る人や、ある程度ディレクション出来るなど、<br>
	「安価で手伝ってもらう」くらいの気持ちで利用することをオススメします。<br>
	また、金額設定を高くしている方の中に、クオリティの高いフリーランサーも<br>
	存在するので、検索機能を使って人財発掘などにも適しています。

	</p>

	<hr>

	<h4>参考サイト</h4>

	<p>WEB制作会社＆フリーランスの相場はコチラが参考になります。<br>
	<%=link_to "【Web Marketing Diary ホームページ制作料金の相場 】",'http://webcreate.united-youth.jp/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%9A%E3%83%BC%E3%82%B8%E5%88%B6%E4%BD%9C%E6%96%99%E9%87%91%E3%81%AE%E7%9B%B8%E5%A0%B4/' %><br>
	<%=link_to "【フリーランスのための全国Webサイト制作料金表】",'http://w3q.jp/t/137' %><br><br>

	クラウドソーシングの場合は、コチラのサイトが<br>
	正確な料金相場をまとめていますので、参考にしてみてください。<br>
	<%=link_to "【Web制作の料金相場/早見表 】",'http://www.find-job.net/startup/fee-rate-of-web-design' %></p>

  	<!--p>アイデア・コンセプトもとにどんな機能が必要なのかを考えてみましょう。</p><p>例えばブログシステムを作りたいのであれば、ブログシステムを構成する機能をひとつひとつ考えていきます。</p><hr class="section"><p>ブログ一覧を表示する機能が必要　→　<strong>ブログ一覧表示機能</strong><br>記事詳細を表示す機能が必要　→　<strong>ブログ詳細表示機能</strong><br>ブログ記事を投稿する機能が必要　→　<strong>記事投稿登録機能</strong><br>コメント登録も実装しよう　→　<strong>コメント投稿機能</strong>  </p><hr class="section"><p>上記を例に思いつく限り必要な機能を考えていきます。</p><hr class="section"-->
  </div>