<div class="row">
	<div class="hero-unit">
		<h1>カリキュラム</h1>

		<h2>
			<%= link_to "1.学習準備", chapter1_section1_manual1_path %><br>
			<%= link_to "2.WEBマーケティング", chapter2_section1_manual1_path %><br>
			<%= link_to "3.WEB制作", chapter3_section1_manual1_path %><br>
			<%= link_to "4.営業・顧客獲得", chapter4_section1_manual1_path %><br>
			<%= link_to "5.LP企画・構成", chapter5_section1_manual1_path %><br>
			<%= link_to "6.WEBデザイン", chapter5_section1_manual1_path %><br>
			<%= link_to "7.コーディング", chapter5_section1_manual1_path %><br>
			<%= link_to "8.wordpress", chapter5_section1_manual1_path %><br>
			<%= link_to "9.仕事獲得術", chapter5_section1_manual1_path %><br>
		</h2>
	</div>

	<div>
	</div>
</div>