  <div class="span4">
    <%= render 'layouts/navbar2' %>
  </div>
  <div class="span8">
  	<h1 id="ビジネスモデルキャンバス"><a name="ビジネスモデルキャンバス" href="#ビジネスモデルキャンバス"></a>ビジネスモデルキャンバス</h1>

  	<hr class="page">

  	<p>さらに、マーケティング活動を行う上で、<br>
	大枠の「全体の流れ（事業戦略）」を描いたものを『ビジネスモデル』といい、<br>
	この構造を把握していることが重要になります。<br><br>

	そこで、ビジネスモデルを可視化できる<br>
	『ビジネスモデルマップ』を作成することで、<br>
	自社の製品について具体的に理解することができ、<br>
	必要なマーケティング手法を選択できるようになります。</p>


	<hr class="underscore">
	<h5>■ビジネスモデルキャンバス</h5>

	<p>9つのセグメントに商品・サービスの内容を当てはめ、<br>
	事業戦略や収益構造を把握します。<br><br>

	詳しい使い方は、次の記事にて記載されています。<br>

	『ビジネスモデル・ジェネレーション・キャンバス』<br>
	<%= link_to "http://hidex7777.r.ribbon.to/pl/vcpl001.htm","http://hidex7777.r.ribbon.to/pl/vcpl001.htm" %><br><br>

	すでに自社の商品・サービスを持っている方は、<br>
	実際にこのビジネスモデルキャンバスに当てはめながら<br>
	「現状のマーケティングは適切なのか？」<br>
	「これからどのようにマーケティング活動を行うべきなのか？」<br>
	を考えてみましょう。</p>


	<p><%= image_tag"2_2_01.png", :alt => "ビジネスモデルキャンバス" %><br>
		<%= link_to "Creative Commons 3.0","http://creativecommons.org/licenses/by/3.0/" %></p>

	<hr class="underscore">
	<h5>■参考サイト</h5>

	<p>『ビジネスモデルYOU』<br>
	※試し読みが可能<br>
	<%= link_to "http://www.shoeisha.com/book/hp/BMY/images/BMY_section1_canvas.pdf","http://www.shoeisha.com/book/hp/BMY/images/BMY_section1_canvas.pdf" %><br><br>

	『ビジネスモデル・キャンバスを使ってビジネスモデルを考える』<br>
	※解説動画<br>
	<%= link_to "http://www.hivelocity.co.jp/blog/9820","http://www.hivelocity.co.jp/blog/9820" %><br><br>

	『Tiny Canvas』<br>
	※実際にWEB上でビジネスモデルキャンバスを作れる<br>
	<%= link_to "http://tinycanvas.grasphy.com/","http://tinycanvas.grasphy.com/" %></p>
  </div>