<ul class="nav nav-list well">
  <li class="nav-header">LPの基礎知識</li>
    <li><%= link_to "Mind",   chapter5_section1_manual1_path %></li>
    <li><%= link_to "LP制作の流れ",   chapter5_section1_manual2_path %></li>
  <li class="nav-header">LP企画・構成</li>
  	<li><%= link_to "Mind",   chapter5_section2_manual1_path %></li>
  	<li><%= link_to "商品決め・コンセプト・ターゲット",   chapter5_section2_manual2_path %></li>
  	<li><%= link_to "レイアウト",   chapter5_section2_manual3_path %></li>
  	<li><%= link_to "コンバージョン設定",   chapter5_section2_manual4_path %></li>
  	<li><%= link_to "企画課題",   chapter5_section2_manual5_path %></li>
  	<li><%= link_to "参考例",   chapter5_section2_manual6_path %></li>
  <li class="nav-header">コピーライティング</li>
  	<li><%= link_to "Mind",   chapter5_section3_manual1_path %></li>
  	<li><%= link_to "文章量",   chapter5_section3_manual2_path %></li>
  	<li><%= link_to "具体的にする",   chapter5_section3_manual3_path %></li>
  	<li><%= link_to "ベネフィット",   chapter5_section3_manual4_path %></li>
  	<li><%= link_to "興味性",   chapter5_section3_manual5_path %></li>
  	<li><%= link_to "4つの学習タイプ",   chapter5_section3_manual6_path %></li>
  	<li><%= link_to "課題",   chapter5_section3_manual7_path %></li>
  	<li><%= link_to "参考例",   chapter5_section3_manual8_path %></li>
  <li class="nav-header">ワイヤーフレーム</li>
  	<li><%= link_to "Mind",   chapter5_section4_manual1_path %></li>
    <li><%= link_to "ワイヤーフレームの書き方",   chapter5_section4_manual2_path %></li>
    <li><%= link_to "使用ツール",   chapter5_section4_manual3_path %></li>
    <li><%= link_to "企画課題",   chapter5_section4_manual4_path %></li>
</ul>

