<ul class="nav nav-list well">
  <li class="nav-header">4-1.WEB制作に関わる人</li>
    <li><%= link_to "Mind",   chapter4_section1_manual1_path %></li>
    <li><%= link_to "どんな人がいるのか？",   chapter4_section1_manual2_path %></li>
    <li><%= link_to "WEBディレクター",   chapter4_section1_manual3_path %></li>
    <li><%= link_to "WEBデザイナー",   chapter4_section1_manual4_path %></li>
    <li><%= link_to "コーダー（マークアップエンジニア）",   chapter4_section1_manual5_path %></li>
    <li><%= link_to "WEBプログラマー",   chapter4_section1_manual6_path %></li>
  <li class="nav-header">4-2.WEB制作のイロハ</li>
    <li><%= link_to "Mind",   chapter4_section2_manual1_path %></li>
    <li><%= link_to "WEB制作の金額",   chapter4_section2_manual2_path %></li>
    <li><%= link_to "スケジュール感",   chapter4_section2_manual3_path %></li>
    <li><%= link_to "アウトソーシング",   chapter4_section2_manual4_path %></li>
    <li><%= link_to "WEBフリーランスの仕事",   chapter4_section2_manual5_path %></li>
</ul>

