<ul class="nav nav-list well">
  <li class="nav-header">侍エンジニア塾のカリキュラムを受講するにあたって</li>
    <li><%= link_to "侍エンジニア塾とは",   chapter1_section1_manual1_path %></li>
    <li><%= link_to "侍カリキュラムのゴール",   chapter1_section1_manual2_path %></li>
    <li><%= link_to "侍カリキュラムの流れ",   chapter1_section1_manual3_path %></li>
    <li><%= link_to "侍カリキュラムの使い方",   chapter1_section1_manual4_path %></li>
  <li class="nav-header">Webの世界</li>
    <li><%= link_to "Mind",   chapter1_section2_manual1_path %></li>
    <li><%= link_to "Webの全体像",   chapter1_section2_manual2_path %></li>
    <li><%= link_to "知っておきたい専門用語",   chapter1_section2_manual3_path %></li>
  <li class="nav-header">プログラミング学習前の基礎知識</li>
    <li><%= link_to "Mind",   chapter1_section3_manual1_path %></li>
    <li><%= link_to "プログラミングとは",   chapter1_section3_manual2_path %></li>
    <li><%= link_to "データベース",   chapter1_section3_manual3_path %></li>
    <li><%= link_to "Webサービスの全体構成",   chapter1_section3_manual4_path %></li>                                                            
  <li class="nav-header">PCの環境を整える</li>
    <li><%= link_to "Mind",   chapter1_section4_manual1_path %></li>
    <li><%= link_to "必要なツールをインストールする",   chapter1_section4_manual2_path %></li>
    <li><%= link_to "Homebrewをセットアップ",   chapter1_section4_manual3_path %></li>
    <li><%= link_to "rbenvをセットアップ",   chapter1_section4_manual4_path %></li>
	<li><%= link_to "gitインストール",   chapter1_section4_manual5_path %></li>
	<li><%= link_to "rubyのバージョンを揃える",   chapter1_section4_manual6_path %></li>
	<li><%= link_to "railsのバージョンを揃える",   chapter1_section4_manual7_path %></li>
  <li class="nav-header">ゼロからデプロイまで</li>
    <li><%= link_to "Mind",   chapter1_section5_manual1_path %></li>
    <li><%= link_to "ゼロからデプロイまで",   chapter1_section5_manual2_path %></li>
</ul>

