<ul class="nav nav-list well">
  <li class="nav-header">コンセプト作り</li>
    <li><%= link_to "Mind",   chapter3_section1_manual1_path %></li>
    <li><%= link_to "実装する機能",   chapter3_section1_manual2_path %></li>
  <li class="nav-header">ターゲット・価格設定</li>
    <li><%= link_to "Mind",   chapter3_section2_manual1_path %></li>
    <li><%= link_to "新しい記事に『new』を表示させる",   chapter3_section2_manual2_path %></li>
    <li><%= link_to "『new』を画像に変更する",   chapter3_section2_manual3_path %></li>
    <li><%= link_to "『new』を表示する期間を変更する",   chapter3_section2_manual4_path %></li>
  <!--li class="nav-header">画像アップロード機能</li>
    <li><%= link_to "Mind",   chapter3_section3_manual1_path %></li>
    <li><%= link_to "画像アップロード機能を実装する",   chapter3_section3_manual2_path %></li>
    <li><%= link_to "画像のサイズを変更する",   chapter3_section3_manual3_path %></li>
  <li class="nav-header">投稿時にメール送信</li>
    <li><%= link_to "Mind",   chapter3_section4_manual1_path %></li>
    <li><%= link_to "投稿時にメールを送信する",   chapter3_section4_manual2_path %></li>
    <li><%= link_to "ccに送信先と別アドレスを設定する",   chapter3_section4_manual3_path %></li>
  <li class="nav-header">お問い合わせフォーム</li>
    <li><%= link_to "Mind",   chapter3_section5_manual1_path %></li>
    <li><%= link_to "お問い合わせフォーム設置",   chapter3_section5_manual2_path %></li>
    <li><%= link_to "新しいカラムを追加する",   chapter3_section5_manual3_path %></li>
    <li><%= link_to "自動返信メール機能を実装する",   chapter3_section5_manual4_path %></li-->
</ul>

