<ul class="nav nav-list well">
  <li class="nav-header">アイデア、コンセプト設計</li>
    <li><%= link_to "Mind",   chapter4_section1_manual1_path %></li>
    <li><%= link_to "作りたいWebサービスを考える",   chapter4_section1_manual2_path %></li>
    <li><%= link_to "アイディアを練る",   chapter4_section1_manual3_path %></li>
    <li><%= link_to "コンセプト設計",   chapter4_section1_manual4_path %></li>
    <li><%= link_to "サイト定義書の作成",   chapter4_section1_manual5_path %></li>
  <li class="nav-header">機能一覧リストアップ</li>
    <li><%= link_to "Mind",   chapter4_section2_manual1_path %></li>
    <li><%= link_to "Webサービスに必要な機能を考える",   chapter4_section2_manual2_path %></li>
    <li><%= link_to "必要な機能をリストアップしていく",   chapter4_section2_manual3_path %></li>
    <li><%= link_to "機能一覧表をつくる",   chapter4_section2_manual4_path %></li>
  <li class="nav-header">画面設計</li>
    <li><%= link_to "Mind",   chapter4_section3_manual1_path %></li>
    <li><%= link_to "トップページの画面設計",   chapter4_section3_manual2_path %></li>
    <li><%= link_to "その他ページの画面設計",   chapter4_section3_manual3_path %></li>
    <li><%= link_to "モックアップの作成",   chapter4_section3_manual4_path %></li>
    <li><%= link_to "画面遷移図の作成",   chapter4_section3_manual5_path %></li>
  <li class="nav-header">DB設計</li>
    <li><%= link_to "Mind",   chapter4_section4_manual1_path %></li>
    <li><%= link_to "必要なDBを考える",   chapter4_section4_manual2_path %></li>
    <li><%= link_to "DB設計書の作成",   chapter4_section4_manual3_path %></li>
  <li class="nav-header">開発設計</li>
    <li><%= link_to "Mind",   chapter4_section5_manual1_path %></li>
    <li><%= link_to "機能一覧から工数を割り出す",   chapter4_section5_manual2_path %></li>
    <li><%= link_to "機能一覧以外の作業を洗い出す",   chapter4_section5_manual3_path %></li>
    <li><%= link_to "全体工数の把握",   chapter4_section5_manual4_path %></li>
  <li class="nav-header">開発</li>
    <li><%= link_to "Mind",   chapter4_section6_manual1_path %></li>
    <li><%= link_to "開発フェーズ",   chapter4_section6_manual2_path %></li>
</ul>

