<ul class="nav nav-list well">
  <li class="nav-header">LPの基礎知識</li>
    <li><%= link_to "Mind",   chapter5_section1_manual1_path %></li>
    <li><%= link_to "LP制作の流れ",   chapter5_section1_manual2_path %></li>
  <li class="nav-header">LP企画・構成</li>
  	<li><%= link_to "Mind",   chapter5_section2_manual1_path %></li>
  	<li><%= link_to "商品決め・コンセプト・ターゲット",   chapter5_section2_manual1_path %></li>
  	<li><%= link_to "レイアウト",   chapter5_section2_manual3_path %></li>
  	<li><%= link_to "コンバージョン設定",   chapter5_section2_manual4_path %></li>
  	<li><%= link_to "企画課題",   chapter5_section2_manual5_path %></li>
  	<li><%= link_to "参考例",   chapter5_section2_manual1_path %></li>
  <li class="nav-header">コピーライティング</li>
  <li class="nav-header">ワイヤーフレーム</li>
</ul>

