<ul class="nav nav-list well">
  <li class="nav-header">1-1. 導入</li>
    <li><%= link_to "侍エンジニア塾とは",   chapter1_section1_manual1_path %></li>
    <li><%= link_to "WEBマーケティングコースのゴール",   chapter1_section1_manual2_path %></li>
    <li><%= link_to "なぜWEBマーケティングなのか？",   chapter1_section1_manual3_path %></li>
    <li><%= link_to "WEBマーケコースの全体構成",   chapter1_section1_manual4_path %></li>
    <li><%= link_to "WEBマーケコースの進め方",   chapter1_section1_manual5_path %></li>
    <li><%= link_to "進める上で必要なマインド",   chapter1_section1_manual6_path %></li>
    <li><%= link_to "WEBマーケティングマスターになる契約",   chapter1_section1_manual7_path %></li>
  <li class="nav-header">1-2. 目標設定</li>
    <li><%= link_to "セルフコーチングワークについて",   chapter1_section2_manual1_path %></li>
    <li><%= link_to "ワークシート",   chapter1_section2_manual2_path %></li>
    <li><%= link_to "個人のゴール設定・確認",   chapter1_section2_manual3_path %></li>
    <li><%= link_to "スケジュール作成",   chapter1_section2_manual4_path %></li>
  <li class="nav-header">1-3.WEBマーケコース概要</li>
    <li><%= link_to "全体構成説明",   chapter1_section3_manual1_path %></li>
    <li><%= link_to "WEBマーケティング基礎",   chapter1_section3_manual2_path %></li>
    <li><%= link_to "WEBマーケティング応用",   chapter1_section3_manual3_path %></li>
    <li><%= link_to "WEB制作の仕事について",   chapter1_section3_manual4_path %></li>
    <li><%= link_to "コンサルフレームワーク",   chapter1_section3_manual5_path %></li>
    <li><%= link_to "営業スキーム",   chapter1_section3_manual6_path %></li>
    <li><%= link_to "商品作り（コンセプト、ターゲット策定）",   chapter1_section3_manual7_path %></li>
    <li><%= link_to "LP企画、構成",   chapter1_section3_manual8_path %></li>
    <li><%= link_to "WEBデザイン",   chapter1_section3_manual9_path %></li>
    <li><%= link_to "コーディング",   chapter1_section3_manual10_path %></li>
    <li><%= link_to "wordpress",   chapter1_section3_manual11_path %></li>
    <li><%= link_to "マーケティング実践（広告運用・解析レポート）",   chapter1_section3_manual12_path %></li>
    <li><%= link_to "ディレクション応用",   chapter1_section3_manual13_path %></li>
</ul>

