<ul class="nav nav-list well">
  <li class="nav-header">プログラミング基礎</li>
    <li><%= link_to "Mind",   chapter2_section1_manual1_path %></li>
    <li><%= link_to "HTML基礎",   chapter2_section1_manual2_path %></li>
    <li><%= link_to "CSS基礎",   chapter2_section1_manual3_path %></li>
    <li><%= link_to "Unix基礎",   chapter2_section1_manual4_path %></li>
  <li class="nav-header">Ruby基礎</li>
    <li><%= link_to "Mind",   chapter2_section2_manual1_path %></li>
    <li><%= link_to "Ruby基礎",   chapter2_section2_manual2_path %></li>
  <li class="nav-header">Ruby on Rails基礎</li>
    <li><%= link_to "Mind",   chapter2_section3_manual1_path %></li>
<!--     <li><%= link_to "Ruby on Rails基礎",   chapter2_section3_manual2_path %></li> -->
    <li><%= link_to "railstutorial",   chapter2_section3_manual3_path %></li>
</ul>

