<ul class="nav nav-list well">
  <li class="nav-header">2-1.Mind・基礎知識</li>
    <li><%= link_to "Mind",   chapter2_section1_manual1_path %></li>
    <li><%= link_to "WEBマーケティングとは？",   chapter2_section1_manual2_path %></li>
    <li><%= link_to "セクション全体構成",   chapter2_section1_manual3_path %></li>
    <li><%= link_to "重要語句",   chapter2_section1_manual4_path %></li>
    <!--li><%= link_to "Unix基礎",   chapter2_section1_manual4_path %></li-->

  <li class="nav-header">2-2.マーケティングについて</li>
    <li><%= link_to "Mind",   chapter2_section2_manual1_path %></li>
    <li><%= link_to "マーケティングの4P",   chapter2_section2_manual2_path %></li>
    <li><%= link_to "マーケティングの4C",   chapter2_section2_manual3_path %></li>
    <li><%= link_to "ビジネスモデルキャンバス",   chapter2_section2_manual4_path %></li>

  <li class="nav-header">2-3.ウェブ解析</li>
    <li><%= link_to "Mind",   chapter2_section3_manual1_path %></li>
    <li><%= link_to "ウェブ解析の重要性",   chapter2_section3_manual2_path %></li>
    <li><%= link_to "Google Analyticsについて",   chapter2_section3_manual3_path %></li>
    <li><%= link_to "Google Analytics導入方法",   chapter2_section3_manual4_path %></li>
    <li><%= link_to "ウェブ解析の基本指標",   chapter2_section3_manual5_path %></li>
    <li><%= link_to "解析方法",   chapter2_section3_manual6_path %></li>
    <li><%= link_to "基礎問題",   chapter2_section3_manual7_path %></li>
    <li><%= link_to "問題解答・重要語句",   chapter2_section3_manual8_path %></li>

  <li class="nav-header">2-4.SEO、SEM</li>
    <li><%= link_to "Mind",   chapter2_section4_manual1_path %></li>
    <li><%= link_to "Googleのアルゴリズム",   chapter2_section4_manual2_path %></li>
    <li><%= link_to "外部対策",   chapter2_section4_manual3_path %></li>
    <li><%= link_to "内部対策",   chapter2_section4_manual4_path %></li>
    <li><%= link_to "基礎問題",   chapter2_section4_manual5_path %></li>
    <li><%= link_to "問題解答・重要語句",   chapter2_section4_manual6_path %></li>

  <li class="nav-header">2-5.リスティング広告</li>
    <li><%= link_to "Mind",   chapter2_section5_manual1_path %></li>
    <li><%= link_to "リスティング広告の種類",   chapter2_section5_manual2_path %></li>
    <li><%= link_to "なぜリスティング広告を使うのか？",   chapter2_section5_manual3_path %></li>
    <li><%= link_to "Google Adwords",   chapter2_section5_manual4_path %></li>
    <li><%= link_to "リスティング広告の基本指標",   chapter2_section5_manual5_path %></li>
    <li><%= link_to "Adwords設定・データの解析方法",   chapter2_section5_manual6_path %></li>
    <li><%= link_to "基礎問題",   chapter2_section5_manual7_path %></li>
    <li><%= link_to "問題解答・重要語句",   chapter2_section5_manual8_path %></li>

  <li class="nav-header">2-6.ランディングページ・サテライトページ</li>
    <li><%= link_to "なぜランディングページを用意するのか？",   chapter2_section6_manual1_path %></li>
    <li><%= link_to "LPOについて",   chapter2_section6_manual2_path %></li>
    <li><%= link_to "サテライトページとは？",   chapter2_section6_manual3_path %></li>
    <li><%= link_to "基礎問題",   chapter2_section6_manual4_path %></li>
    <li><%= link_to "問題解答・重要語句",   chapter2_section6_manual5_path %></li>

  <li class="nav-header">2-7.顧客成長モデル</li>
    <li><%= link_to "Mind",   chapter2_section7_manual1_path %></li>

  <li class="nav-header">2-8.コンテンツマーケティング</li>
    <li><%= link_to "Mind",   chapter2_section8_manual1_path %></li>

  <li class="nav-header">2-9.SNS・モバイルマーケティング</li>
    <li><%= link_to "Mind",   chapter2_section9_manual1_path %></li>

  <li class="nav-header">2-10.WEBマーケティング全体構造</li>
    <li><%= link_to "Mind",   chapter2_section10_manual1_path %></li>

  <li class="nav-header">2-11.WEBマーケティング応用課題</li>
    <li><%= link_to "Mind",   chapter2_section11_manual1_path %></li>
</ul>

